{% extends 'base.html.twig' %}


{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="icon-filter"></i>Filtre : </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{path('prostages_accueil')}}">Aucun</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{path('prostages_entreprises')}}">Par entreprise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('prostages_formations')}}">Par formation</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block contenu %}
    </br>
    <h3>Liste des stages proposés par l'entreprise {{stagesEntreprise.nom}}</h3>
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Adresse</th>
                </tr>
            </thead>
            <tbody>
                {% for stageCourant in stages %}
                    {% if stageCourant.entreprise.id == stagesEntreprise.id %}
                        <tr>
                            <th scope="row">
                                <a href="{{path('prostages_stages',{id:stageCourant.id})}}">{{stageCourant.titre}}</a>
                            </th>
                            <td>{{stageCourant.entreprise.nom}}</td>
                            <td>{{stageCourant.entreprise.Adresse}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
