{% extends 'base.html.twig' %}

{% block menu %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{path('prostages_accueil')}}">Retour à la liste</a>
        </div>
    </nav>
{% endblock %}

{% block contenu %}
    </br>
    <center><h1>{{stage.titre}}</h1></center>
    <ul class="list-group">
        <h3>Détails</h3>
        <li class="list-group-item"><strong>Mission : </strong>{{stage.mission}}</li>
        </br>
        <h3>Informations de l'entreprise</h3>
        <li class="list-group-item"><strong>Nom : </strong>{{stage.entreprise.nom}}</li>
        <li class="list-group-item"><strong>Activité : </strong>{{stage.entreprise.activite}}</li>
        <li class="list-group-item"><strong>Adresse : </strong>{{stage.entreprise.Adresse}}</li>
        <li class="list-group-item"><strong>Site web : </strong>{{stage.entreprise.siteweb}}</li>
        <li class="list-group-item"><strong>Email : </strong>{{stage.email}}</li>
    </ul>
{% endblock %}
